/*
 *  Theme Name: Gregory-WP-theme
 *  Author: The Search Engine Guys
 *  Author URI: http://www.thesearchengineguys.com/
 *  Description: A sensible starting place for freelancers hired by The Search Engine Guys.
 */

@import: url('font/') a {}

a:focus,
a:hover {}


body {

    font-size: 18px;
}


.tseg-footer {

    background-color: #BFB2A2;
    padding-bottom: 30px;
    padding-top: 30px;
}

.tseg-footer__list-item {}


.tseg-grid-of-links {

    background-color: #C09B55;
    padding-bottom: 30px;
    padding-top: 30px;
}

.tseg-grid-of-links__link {}


.tseg-home-content {

    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}


.tseg-logo {}

.tseg-logo__image {

    width: 30%;
}


.tseg-main-graphic {

    background-color: #1F6D6F;
}

.tseg-main-graphic__tagline {

    font-size: 36px;
    padding-bottom: 30%;
    padding-top: 30%;
}

/*Customize Css*/

/*header and Navigation*/

.navbar-default {
    background-color: #cb0000;
    border-color: transparent;
}

.navbar {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.navbar ul {
    text-decoration: none;
    margin: 0;
}

.navbar ul li {
    text-transform: uppercase;
    display: inline-block;
    float: left;
    padding: 18px 12px;
}

.navbar ul li:first-of-type {
    padding-left: 0;
}

.navbar ul li:last-of-type {
    float: right;
}

.navbar ul li:last-of-type a {
    padding: 24px;
}

.navbar ul li a {
    color: white;
    line-height: 1.2;
    font-size: 14px;
    text-decoration: none;

}

.container > .navbar-collapse {
    padding: 0;
}

.menu-btn {
    background: black;

}

/* col-xs */

@media (max-width:767px) {}


/* col-sm */

@media (min-width:768px) and (max-width:991px) {}


/* col-md */

@media (min-width:992px) and (max-width:1199px) {}


/* col-lg */

@media (min-width:1200px) {}


ul {
    list-style: none;
    margin-left: 0px;
    line-height: 30px;
    padding-left: 0;
}

/** This how to styled pseudo elements using the latest Font-awesome 5 **/

ul.befored-tag li:before {
    display: none;
    content: "\f0da";
    font-family: 'Font Awesome 5 Solid';
    /*The values for font-family can be Font Awesome 5 Regular|Solid|Light|Brands*/
}

ul.befored-tag li svg {
    font-size: 15px;
    margin-right: 10px;
    color: #ea4335;
}


ul.afterd-tag li:after {
    display: none;
    content: "\f0da";
    font-family: 'Font Awesome 5 Solid';
    /*The values for font-family can be Font Awesome 5 Regular|Solid|Light|Brands*/
}

ul.afterd-tag li svg {
    font-size: 16px;
    margin-left: 10px;
    color: #4285f4;
}

/** This how to styled FA elements that are being implemented **/

.icon-set svg {
    font-size: 55px;
    margin-top: 15px;
}

svg.svg-inline--fa.fa-google-plus-square.fa-w-14 {
    color: #1b8a39;
}

svg.svg-inline--fa.fa-twitter-square.fa-w-14 {
    color: #2174fd;
}

svg.svg-inline--fa.fa-facebook.fa-w-14 {
    color: #1c4282;
}

/** End Font-awesome 5 **/
